<md-toolbar color="primary">
  <span>Restaurante</span>
  <span class="fill-remaining-space"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/home">
    <md-icon>home</md-icon>
    <span>Productos</span>
  </button>
   <button md-menu-item routerLink="/order">
    <md-icon>payment</md-icon>
    <span>Ordenes</span>
  </button>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>
